/***  GLOBAL TAG SETTINGS  ***/
* {
    font-family: Lato;
}*:focus {
    outline: none;
}
html, body {
    height: 100%;
}
body {
    background-color: rgb(250,250,230);
    color: rgba(0,0,0,.9);
    font-size: 20px;
}
p {
    text-align: center;
    margin: 0 auto;
}
label, span {
    font-weight: bold;
}
a,
a:visited,
a:active {
    text-decoration: none;
    color: rgb(245, 99, 66);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input::-webkit-input-placeholder {
   opacity: .5;
}

/***  SETTING UP WORKSAPCE  ***/
#container {
    max-width: 650px;
    min-width: 550px;
    margin: 0 auto;
    z-index: 1;
    min-height: 100%;
    display: flex;
    flex-flow: column;
} #container::after{
    content: "";
    background: url(../img/pidgey_trimmed.png)
                no-repeat center center fixed;
    background-size: 100%;
    image-rendering: pixelated;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}
#content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex:1;
    padding: 0px 20px 0px;
}
#content h1 {
    margin: 0px;
    text-align: center;
    position: relative;
}

#stretch {
    flex: 1;
}
#footer {
    font-size: 16px;
    padding: 20px 20px 0;
    text-align: center;
}
#end {
    max-height: 20px;
    flex: 1;
}

/***  HANDY CLASSES  ***/
.no-pad {
    padding: 0;
} .small-pad {
    padding: 5px;
} .pad {
    padding: 13px;
}
.border {
    margin: 0;
    border: none;
    border-radius: 5px;
}
.input {
    text-align: left;
    color: rgb(222, 65, 55)
}
.btn {
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Lato;
} .btn, .input {
    margin: 0 0 3px;
}

/***  FLEX GEOMETRY  ***/
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} .row button {
    flex: 1;
} .row-elem {
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 47.5%
}
.filler {
    width: 5%;
}
.extra-margin {
    margin-top: 15px;
}
.group {
    margin-top: 20px;
} .group > div {
    margin-top: 3px;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: rgba(163, 97, 90, .8);
    background: rgba(250, 241, 181, .7);
    padding: 15px;
}

.catch-btn {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    overflow: hidden;
} .catch-btn div:nth-child(2) img {
    width: 100%;
    height: 100%;
} .catch-btn img {
    width: 50px;
    height: 50px;
} .catch-btn div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.descriptor-box {
    display: flex
}
.descriptor-box img {
    height: 1.5em;
    width: auto;
} .descriptor-box span {
    line-height: 1.5em;
} .descriptor-box div:last-child {
    flex-grow: 1;
} .descriptor-box div {
    flex-grow: 1.5;
}

/***  HANDY COLOR CLASSES  ***/
.light-tone {
    background-color: rgb(252, 246, 206);
} .light-tone.shadow {
    box-shadow: 0 3px 0 rgb(204, 130, 90);
}
.mid-tone {
    background-color: rgb(252, 236, 157);
} .mid-tone.shadow {
    box-shadow: 0 3px 0 0 rgb(163, 97, 90);
}
.dark-tone {
    background-color: rgb(241, 214, 128);
}
.mid-tone:hover {
    background-color: rgb(230, 188, 99);
}
.dark-tone:hover {
    background-color: rgb(219, 162, 70);
}
.shadow.btn:active {
    box-shadow: none;
    transform: translateY(3px);
}

/***  CSS BY ID  ***/
#title {
    color: rgb(125, 73, 16);
} #title span {
    text-transform: uppercase;
    font-family: "Roboto Black", sans-serif;
}
#description {
    font-size: 16px;
}
#reset {
    flex-grow: .56666;
}