* {
    font-family: "Open Sans", sans-serif;
}*:focus {
    outline:none;
}
html,body{
    height:100%;
}
body{
    /*font-family: 'Roboto', sans-serif;*/
    background-color: #fbfbf2;
    color:rgba(0,0,0,.9);
    font-size: 20px;
}
p {
    text-align: center;
    margin: 0 auto;
}
label, span {
    font-weight: bold;
}
a,
a:visited,
a:active {
    text-decoration: none;
    color: rgb(255,113,66);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input::-webkit-input-placeholder {
   opacity: .5;
}

#container {
    max-width: 600px;
    margin: 0 auto;
    justify-content: space-between;
    z-index: 1;
    min-height: 100%;
} #container::after{
  content: "";
  background: url(../img/pidgey.png) no-repeat center center fixed;
          -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
}
#content {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0px;
}
#content h1 {
    margin-top: 0;
    text-align: center;
    position: relative;
}
#title {
    position: relative;
    padding: 0 10px 0;
    font-family: "Fira Sans";
}
#title span {
    text-transform: uppercase;
    font-family: "Roboto Black", sans-serif;
}
#logo {
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 100%;
}#logo2 {
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 100%;
}
#description {
    margin-top: -15px;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(245, 99, 66);
}
#output {
    font-size: 20px;
    line-height: 1.6;
}
#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}#footer p{
    font-size: 16px;
    padding: 0 20px 20px;
    text-align: center;
}
#reset {
    flex-grow: .56666;
}

.input {
    margin: 0;
    padding: 13px;
    border: none;
    border-radius: 5px;
    text-align: left;
}
.btn {
    margin: 0;
    padding: 13px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.row {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} .row button {
    flex: 1;
} .row div:not(.filler) {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 47.5%
}
.filler {
    width: 5%;
}
.switch {
    font-size: 35px;
    padding: 5px;
}
#toggle_melt {
    padding: 0;
    overflow: hidden;
} #toggle_melt section {
    margin: 0;
} #toggle_melt section div {
    padding: 13px;
}

.light-tone {
    background-color: rgb(252, 246, 206);
} .light-tone.shadow {
    box-shadow: 0 3px 0 0 rgb(204, 130, 90);
}
.mid-tone {
    background-color: rgb(252, 236, 157);
} .mid-tone:hover {
    background-color: rgb(230, 188, 99);
}
.mid-tone.shadow {
    box-shadow: 0 3px 0 0 rgb(163, 97, 90);
}
.dark-tone, .switch.active, .btn:active {
    background-color: rgb(204, 130, 90);
}
.shadow.btn:active, .shadow.switch.active {
    box-shadow: none;
    transform: translateY(3px);
}